.MoveDocs {
    font-weight: 700;
    
}

.Note {
    font-size: 0.6rem;
    color: #1677ff;
    vertical-align: text-top;
}

.noteContainer {
    position: relative;
    cursor: pointer;
  }
  
  .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: white;
    border: 1px solid;
    border-color: gray;
    color: black;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
  }
  
  .noteContainer:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }